*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
}

:root {
  --container-size: 400px;
  /* Use 1/10 of the horizontal for spacing */
  --spacing-factor: 10;

  /* Colors, mode independent: */
  --light: #fffdfa;
  --dark: #060606;

  /* Details: */
  --seperator: 2px;
  --radius-factor: 6;
  --header-size: 48px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --container-size: 768px;
    /* Use 1/6 of the horizontal for spacing */
    --spacing-factor: 6;
  }
}

body {
  background-color: var(--light);
}

body, body * {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
  border-width: 0px;
  border-color: var(--dark);
  border-style: solid;
}

body button {
  background-color: var(--light);
}

body button:active {
  background-color: var(--dark);
}

body.dark {
  background-color: var(--dark);
}

body.dark, body.dark * {
  color: var(--light);
  border-color: var(--light);
}

body.dark button, body.dark dialog {
  background-color: var(--dark);
}

body.dark button:active {
  background-color: var(--light);
}

.container {
  height: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
}

dialog {
  background-color: var(--light);
  color: var(--dark);
  border-color: var(--dark);
  border-width: 2px;
  margin: auto;
  width: calc(var(--container-size) * 0.85);
  padding: 20px;
  border-radius: 20px;
}

body.dark dialog {
  background-color: var(--dark);
  color: var(--dark);
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}

header {
  margin-top: 4px;
  width: 100%;
  padding: 0 var(--main-box-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: var(--header-size);
  font-size: var(--header-size);
}

header button {
  --header-button-margin: 2px;
  --header-button-height: calc(var(--header-size) - calc(var(--header-button-margin) * 2));
  --header-button-internal-size: calc(var(--header-button-height) - 2px);
  --header-button-padding-size: calc(var(--header-button-internal-size) / var(--spacing-factor));
  height: var(--header-button-height);
  margin: var(--header-button-margin) 0;
  border-width: 1px;
  padding: var(--header-button-padding-size);
  line-height: calc(var(--header-button-internal-size) - calc(var(--header-button-padding-size) * 2));
  font-size: calc(var(--header-button-internal-size) - calc(var(--header-button-padding-size) * 2));
  border-radius: calc(var(--header-button-height) / var(--radius-factor));
}

.animate-pulse {
    animation: pulse 0.5s ease-in-out 0s 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1
  }
}

.animate-shake {
    animation: shake 0.25s ease-in-out 0s 1;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
